apartment-backend/target/*
miniconda.exe
.vscode/settings.json
apartment-backend/uploads/
.env.deploy
deploy/*
.claude/*
node_modules/*

backend_error.log
gen_bcrypt.js
login.json
package-lock.json
package.json
reset_admin_pwd.sh
.sisyphus/run-continuation/*
